* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-container {
  height: 100vh;
}

nav {
  background-color: #3367d6;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0px;
}

.app-logo {
  height: 30px;
  width: 100px;
}

@media (min-width: 768px) {
  nav {
    height: 80px;
    justify-content: flex-start;
    padding: 20px;
  }

  .app-logo {
    height: 30px;
    width: 120px;
    margin: 0px 0px 0px 20px;
  }
}

.search-input-container {
  background-color: #2850a7;
  display: flex;
  height: 50px;
}

@media (min-width: 768px) {
  .search-input-container {
    width: 50%;
    margin: 0px 0px 0px 100px;
  }
}

.search-icon-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #6697ff;
  border-right: 1px solid #6697ff;
  border-radius: 4px 0px 0px 4px;
  padding: 20px 15px;
}

.search {
  width: 30px;
  height: 30px;
}

input {
  background-color: transparent;
  border: 2px solid #6697ff;
  border-left: 1px solid #6697ff;
  border-radius: 0px 4px 4px 0px;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  height: 100%;
  outline: none;
  cursor: pointer;
}

.history-container {
  height: calc(100% - 70px);
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px 15px;
}

@media (min-width: 768px) {
  .search-icon-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #6697ff;
    border-right: 1px solid #6697ff;
    border-radius: 4px 0px 0px 4px;
    padding: 20px 15px;
  }

  .search {
    width: 25px;
    height: 25px;
  }

  input {
    width: 100%;
    font-size: 20px;
  }

  .history-container {
    height: calc(100% - 80px);
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px 15px;
  }
}

ul {
  box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 10px;
  margin: 0px;
}

.empty-div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-history {
  color: #465991;
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
}
